
.Arishimage {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
.Arishimage img{
   width: 320px;
   height: 350px;
}

.Ferdinandimage {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
.Ferdinandimage img{
   width: 500px;
   height: 350px;
}

.Alexandroimage {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  
.Alexandroimage img{
   width: 500px;
   height: 350px;
}

